*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: 'poppins' sans-serif;
    line-height: 1.7;
    font-size: 17px;
}

.main-menu{
    padding: 20px;
    list-style: none;
    font-size: 20px; 
    font-weight: bold;
    
}

.menu a{
    text-decoration: none; 
    padding: 10px; 
    font-size: 18px;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #333;    
}   
  .menu a active{
    background-color: #f4f4f4;
    color: #333;    
  }

  h1{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;  
    padding: 0 10px;  
  }

p{
    font-size: 17px;
    padding: 10px;
    margin: 10px 0;  
  }


  h2 a{
     margin-top: 20px;  
    text-decoration: none;
    padding: 10px;   

}

 img{
    width:100px;    
         
} 
h4, h5 {
    font-size: 22px;  
    padding : 0 10px;      
}

h2{
    font-size: 25px;
    padding: 0 10px;    
}

.list-items{
  padding: 20px;
  margin: 10px;   
}

 .main{
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 10px;
  font-size: 15px;
  background-color:#333;
  
}

.main a{
  text-decoration: none;
  color: #fff;
}

.main:hover{
  cursor: pointer;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 15px;
  background-color: #333;
}

.btn a{
  text-decoration: none;
  color: #fff;
}

.btn:hover{
  cursor: pointer;
}