*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:  #f5f5f5;       
}   

.main-menu{
    padding: 20px;
    list-style: none;
    font-size: 20px; 
    font-weight: bold;
    
}

/* fieldset and legend */

fieldset{
    margin: 20px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 5px; 
    min-width: 200px;
}

legend{
    font-size: 25px;
    font-weight: bold;
    color: #333;    
}

label{
    font-size: 17px;
    color: #333; 
    display: block;
    margin-top: 10px;  
    
}


input{
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px #ccc; 
}


    
.main {
    padding: 10px 20px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    display: block;
}

.main:hover{
    background-color: lightsteelblue;
}

.main a:active{
    color: #f3f3f3;
} 

/* menu style */
.menu{
    padding: 10px 20px;
    background-color: dodgerblue;   
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
 
.menu:hover{
    background-color: lightsteelblue;
}

.menu a:active{
    color: #f3f3f3;
}

  /* anchor tag */

  a{
    text-decoration: none;

}



/* unordered list link tag */
ul a{
    padding: 10px;  
    margin: 10px;
}

/* head styling */
h1{
    margin-top: 20px;   
    font-size: 30px;  
    padding: 10px;    
}

  /* paragraph styling */
p{
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;  
}
  
/* header styling */
h2{
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;      
}

  /* image styling */
img{
    width: 400px;
    height: 300px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin:10px;
}

button:hover{
    color: lightgrey;
    cursor: pointer;
}

button a:active{
    color: coral;
}

